* {
    -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 1024px) {
    .slide-pic {
        height: 100%;
    }
    .left-slider, .right-slider {
        bottom: 262px;
    }
    .team-members {
        flex-wrap: wrap;
        overflow-x: unset;
    }
    .our-team {
        padding: 30px 60px;
    }
    .member-box {
        width: 210px;
        margin: 0 20px 20px 0;
    }
    .member-box:nth-of-type(4), .member-box:nth-of-type(8) {
        margin-right: 0;
    }
    .about-content {
        margin: 0 115px;
    }
    .about-wrapper {
        flex-direction: row;
        padding: 20px 160px;
    }
    .about-wrapper>div {
        padding: 0;
        text-align: left;
    }
    .about-button {
        margin: 0;
    }
    .history-header {
        font-size: 40px;
        padding: 0 115px;
    }
    .history-scrollbar {
        display: none;
    }
    .history-wrapper {
        display: block;
        padding: 0 115px;
        margin: 0;
    }
    .dropdown-link {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        padding: 0;
    }
    .top-bar-content {
        padding: 10px 60px;
        margin: 0;
    }
    .header-links {
        display: flex;
        padding-right: 20px;
        width: 650px;
        justify-content: space-between;
    }
    .header-right-side {
        display: flex;
    }
    .menu-callback {
        margin-right: 20px;
    }
    .dropdown-link {
        align-self: center;
    }
    .country-flag {
        align-self: center;
        margin-right: 0;
    }
    .desktop-country-selector {
        position: absolute;
        background-color: #fff;
        border-radius: 0.75rem;
        z-index: 151;
        display: none;
        top: 100%;
        right: 0;
    }
    .desktop-country {
        display: flex;
        padding: 15px 20px;
    }
    .desktop-country-text {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #707070;
        margin-left: 10px;
    }
    .desktop-country > div {
        display: flex;
        align-items: center;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .main-country {
        display: flex;
        position: relative;
    }
    .main-country:hover #desktop-country-selector {
        display: block;
    }
    .product-pic {
        width: 250px;
        height: 338px;
        flex-shrink: 0;
        margin-right: 30px;
    }
    .item {
        display: flex;
        padding: 60px 160px 0 160px
    }
    .item-header {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 0;
    }
    .item-about {
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .item-chapters {
        font-weight: 450;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
    }
    .item-reverse {
        flex-direction: row-reverse;
    }
    .item-reverse .product-pic {
        margin-right: 0;
        margin-left: 30px;
    }
    .portfolio-content, .portfolio-nav, .portfolio-button-wrapper {
        display: none;
    }
    .portfolio-wrapper {
        padding-bottom: 86px;
    }
}
