* {
    -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 1024px) {
    .slide-pic {
        height: 100%;
    }
    .left-slider, .right-slider {
        bottom: 262px;
    }
    .team-members {
        flex-wrap: wrap;
        overflow-x: unset;
    }
    .our-team {
        padding: 30px 60px;
    }
    .member-box {
        width: 210px;
        margin: 0 20px 20px 0;
    }
    .member-box:nth-of-type(4), .member-box:nth-of-type(8) {
        margin-right: 0;
    }
    .about-content {
        margin: 0 115px;
    }
    .about-wrapper {
        flex-direction: row;
        padding: 20px 160px;
    }
    .about-wrapper>div {
        padding: 0;
        text-align: left;
    }
    .about-button {
        margin: 0;
    }
    .history-header {
        font-size: 40px;
        padding: 0 115px;
    }
    .history-scrollbar, .adresses-header {
        display: none;
    }
    .history-wrapper {
        display: block;
        padding: 0 115px;
        margin: 0;
    }
    .dropdown-link {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        padding: 0;
    }
    .top-bar-content {
        padding: 10px 60px;
        margin: 0;
    }
    .header-links {
        display: flex;
        padding-right: 20px;
        width: 650px;
        justify-content: space-between;
    }
    .header-right-side {
        display: flex;
    }
    .menu-callback {
        margin-right: 20px;
    }
    .dropdown-link {
        align-self: center;
    }
    .country-flag {
        align-self: center;
        margin-right: 0;
    }
    .desktop-country-selector {
        position: absolute;
        background-color: #fff;
        border-radius: 0.75rem;
        z-index: 151;
        display: none;
        top: 100%;
        right: 0;
    }
    .desktop-country {
        display: flex;
        padding: 15px 20px;
    }
    .desktop-country-text {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #707070;
        margin-left: 10px;
    }
    .desktop-country > div {
        display: flex;
        align-items: center;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .main-country {
        display: flex;
        position: relative;
    }
    .main-country:hover #desktop-country-selector {
        display: block;
    }
    .product-pic {
        width: 250px;
        height: 338px;
        flex-shrink: 0;
        margin-right: 30px;
    }
    .item {
        display: flex;
        padding: 60px 160px 0 160px
    }
    .item-header {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 0;
    }
    .item-about {
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .item-chapters {
        font-weight: 450;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
    }
    .item-reverse {
        flex-direction: row-reverse;
    }
    .item-reverse .product-pic {
        margin-right: 0;
        margin-left: 30px;
    }
    .portfolio-content, .portfolio-nav, .portfolio-button-wrapper {
        display: none;
    }
    .portfolio-wrapper {
        padding-bottom: 86px;
    }
    .portfolio-header {
        margin-bottom: 30px;
    }
    .portfolio-content-desktop {
        padding: 0 40px 0 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-item-desktop {
        width: 288px;
        height: 210px;
        margin-right: 20px;
        position: relative;
    }
    .portfolio-button-wrapper-desktop {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 65px;
        bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio-button-desktop {
        padding: 8px 12px;
        background-color: white;
        border-radius: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .triple-image {
        max-height: 488px;
    }
    .triple-image img {
        max-height: 100%;
    }
    .double-image {
        max-height: 722px;
    }
    .double-image img {
        max-height: 100%;
    }
    .price-wrapper {
        padding: 30px 160px;
    }
    .consultation {
        padding: 20px 160px;
    }
    .about-button {
        display: none;
    }
    .about-button-desktop-wrapper {
        display: flex;
    }
    .consultation-button-wrapper {
        display: block;
        margin-top: 40px;
    }
    .consultation-button {
        align-items: center;
        padding: 18px 32px;
        gap: 10px;
        background: #DCAA72;
        border-radius: 10px;
        font-weight: 450;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        animation: radial-pulse-button 3s infinite;
        margin: 0 auto;
        display: flex;
    }
    .map iframe {
        height: 594px;
    }
    .adresses {
        padding: 30px 128px;
    }
    .office:nth-of-type(2) {
        margin-top: 0;
    }
    .office:nth-of-type(3) {
        margin-top: 30px;
    }
    .office {
        width: 50%;
    }
    .adresses-category {
        display: flex;
    }
    .about-button {
        display: flex;
        align-items: center;
        align-self: center;
    }
}
@media screen and (min-width: 1920px) {
    .mobile-logo {
        width: unset;
        height: unset;
    }
    .slide-pic {
        height: unset;
        width: 100%;
    }
    .heading {
        padding: 30px 280px;
    }
    .numbers {
        right: 280px;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        align-self: center;
    }
    .numbers div:nth-of-type(1) {
        margin-bottom: 20px;
    }
    .top-bar-content {
        padding: 10px 280px;
    }
    .dropdown-link {
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .header-links {
        padding-right: 40px;
        width: 1080px;
    }
    .slider-nav {
        justify-content: center;
    }
    .about-content {
        margin: 0 490px;
    }
    .about-button {
        display: block;
    }
    .about-wrapper {
        padding: 24px 513px;
    }
    .about-wrapper div {
        margin-right: 40px;
        align-items: center;
        font-weight: 450;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: rgba(0, 0, 0, 0.8);
    }
    .slide-text {
        font-weight: 500;
        font-size: 46px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.14em;
        text-transform: uppercase;
    }
    .menu-callback-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
    }
    .about-button {
        align-items: center;
        display: flex;
        align-self: center;
    }
    .about-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .about-text {
        font-size: 26px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);  
    }
    .art-right, .art-left {
        width: 314px;
    }
    .about-query {
        font-weight: 700;
        font-size: 50px;
        line-height: 90%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #707070;
    }
    .our-team-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .our-team {
        padding: 40px 280px;
    }
    .member-photo {
        width: 100%;
    }
    .member-box {
        width: 310px;
        margin-right: 40px;
    }
    .history-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .history-photo {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
    .history-desk {
        display: flex;
        margin-top: 71px;
        padding: 0 280px;
    }
    .history-photo div img {
        width: 420px;
        height: 532px;
    }
    .history-photo div {
        text-align: center;
        font-size: 38px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .history-photo div:last-of-type {
        font-weight: 450;
        font-size: 20px;
        line-height: 26px; 
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #707070;
    }
    .year-number {
        font-weight: 700;
        font-size: 50px;
        line-height: 145%;
        text-align: center;
        letter-spacing: 0.04em;
    }
    .year-art-mobile {
        width: unset;
        height: unset;
    }
    .year-number {
        margin: 0 20px 12px 20px;
    }
    .history-text {
        font-size: 24px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .history-quote-text {
        font-weight: 700;
        font-size: 50px;
        line-height: 90%;
        text-align: center;
        letter-spacing: 0.06em;
        color: rgba(0, 0, 0, 0.8);
    }
    .history-quote {
        margin-top: 40px;
        position: absolute;
        width: 100%;
        left: 0;
    }
    .history-quote-art-mobile {
        width: unset;
        height: unset;
    }
    .history-quote-art-mobile-middle {
        width: unset;
        height: unset;
    }
    .items-wrapper {
        margin-top: 200px;
    }
    .items-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding: 0 280px;
    }
    .item {
        padding: 60px 280px 0 280px;
    }
    .product-pic {
        width: 480px;
        height: 650px;
        margin-right: 60px;
    }
    .item-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 30px;
    }
    .item-reverse .product-pic {
        margin-right: 0;
        margin-left: 60px;
    }
    .item-about {
        font-size: 26px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
    }
    .item-chapters {
        margin-top: 60px;
    }
    .item-li {
        font-weight: 450;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    .portfolio-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .portfolio-content-desktop {
        padding: 0 280px;
    }
    .portfolio-item-desktop {
        width: 437px;
        height: 300px;
        margin-right: 16px;
    }
    .portfolio-button-wrapper-desktop {
        bottom: 9px;
    }
    .price-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .time-count-text {
        font-weight: 450;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.04em;
    }
    .menu-callback-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
    }
    .about-price {
        font-size: 26px;
        line-height: 145%;
        letter-spacing: 0.04em;
    }
    .price {
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.12em;
    }
    .price-wrapper {
        padding: 30px 397px;
    }
    .dop-sells-header {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.04em;
        width: 100%;
    }
    .dop-sells-text {
        font-size: 26px;
        line-height: 145%;
        letter-spacing: 0.04em;
    }
    .dop-sells {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dop-sell {
        width: 50%;
    }
    .ds-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
    }
    .cn-header {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.04em;
    }
    .cn-ul ul li {
        font-size: 26px;
        line-height: 145%;
        letter-spacing: 0.04em;
    }
    .cn-ul ul li svg {
        margin-top: 15px;
    }
    .consultation {
        padding: 20px 397px;
    }
    .about-button {
        display: none;
    }
    .about-wrapper .about-button {
        display: flex;
    }
    .consultation-content {
        display: flex;
    }
    .about-button-desktop-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .form-name {
        width: 100%;
    }
    .form-name:last-of-type {
        margin-top: 30px;
    }
    .mr-40 {
        margin-right: 0;
    }
    .adresses {
        padding: 30px 0;
    }
    .city-name {
        padding: 10px 20px 0 60px;
    }
    .adress-text {
        padding: 10px 60px;
    }
}
@media screen and (max-width: 320px) {
    .slide-pic {
        max-width: unset;
        max-height: 100%;
    }
    .numbers {
        font-size: 10px;
    }
    .item {
        padding-top: 45px;
    }
    .items-header {
        margin-bottom: 0;
    }
    .office:nth-of-type(2) {
        margin-top: 0;
    }
    .item-content div img {
        max-height: 100%;
    }
    .triple-image {
        max-height: 132px;
    }
    .double-image {
        max-height: 200px;
    }
    iframe {
        width: 280px;
    }
}
@media screen and (min-width: 425px) {
    .items-header {
        margin-bottom: 0;
    }
    .triple-image {
        max-height: 185px;
    }
    .double-image {
        max-height: 278px;
    }
    .slide-pic {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .history-scrollbar, .adresses-header {
        display: none;
    }
    .history-wrapper {
        display: block;
        padding: 0 60px;
        margin: 0;
    }
    .items-header {
        margin-top: 60px;
    }
    .max-height {
        width: 100%;
        max-height: unset;
    }
    .triple-image {
        max-height: 359px;
    }
    .double-image {
        max-height: 533px;
    }
    iframe {
        width: 100%;
        height: 485px;
    }
}
@media screen and (min-width: 1024px) {
    .max-height {
        max-height: 100%;
        width: unset;
    }
    .triple-image {
        max-height: 488px;
    }
    .double-image {
        max-height: 722px;
    }
    iframe {
        height: 655px;
    }
    .second-button {
        display: none;
    }
    .form-name {
        width: 100%
    }
}
@media screen and (min-width: 1024px) {
    .slider-nav {
        justify-content: center;
    }
    .about-wrapper {
        justify-content: center;
    }
    .about-text {
        margin-right: 40px;
        align-self: center;
    }
    .member-photo {
        width: 100%;
    }
    .member-box {
        width: 315px;
    }
    .our-team-header {
        font-size: 40px;
        padding: 40px 115px;
    }
    .portfolio-item-desktop {
        width: 315px;
        margin-bottom: 20px;
    }
    .portfolio-button-wrapper-desktop {
        bottom: 0;
    }
    .triple-image {
        max-height: 699px;
    }
    .double-image {
        max-height: 1031px;
    }
    iframe {
        height: 932px;
    }
}
/* @media screen and (min-width: 2560px) {
    #viewport_slide {
        height: 900px;
    }
    .slider, .slide {
        height: 900px;
    }
    .slide-pic {
        width: 100%;
        height: 100%;
    }
    .left-slider, .right-slider, .slide-text {
        bottom: 429px;
    }
    .slide-text {
        bottom: 397px;
        font-size: 70px;
    }
    .menu-callback svg {
        width: 30px;
        height: 25px;
    }
    .menu-callback div {
        align-self: center;
        font-size: 30px;
        padding: 10px 0;
    }
    .country-flag, .desktop-country div svg {
        width: 70px;
        height: 45px;
    }
    .desktop-country-text {
        font-size: 40px;
    }
    .dropdown-link {
        font-size: 35px;
        padding: 5px 0;
    }
} */
@media screen and (min-width: 2560px) {
    #viewport_slide {
        height: 900px;
    }
    .slider, .slide {
        height: 900px;
    }
    .slide-pic {
        width: 100%;
        height: 100%;
    }
    .left-slider, .right-slider, .slide-text {
        bottom: 429px;
    }
    .slide-text {
        bottom: 416px;
    }
    .member-box {
        width: 470px;
    }
    .portfolio-content-desktop {
        padding: 0 264px 0 280px;
    }
    .portfolio-item-desktop {
        width: 488px;
        height: 325px;
    }
    .consultation-content {
        justify-content: space-between;
    }
    .map iframe {
        height: 1200px;
    }
    .item-wrapper {
        width: 1420px;
    }
    .item-full-menu {
        width: 100%;
        justify-content: center;
    }
    .cross {
        right: 570px;
    }
    .cross img {
        width: 70px;
    }
}