body {
  font-family: "Futura PT", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 145%;
  margin: 0;
}

.heading {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  position: relative;
}

.numbers {
  font-size: 14px;
  position: absolute;
  right: 20px;
}

.menu-callback {
  border: 2px solid #DCAA72;
  border-radius: 8px;
  display: flex;
  padding: 7px 10px;
}
.menu-callback div {
  font-size: 14px;
  color: #DCAA72;
  font-weight: 500;
  font-family: "Futura PT", Helvetica, Arial, sans-serif;
}
.menu-callback svg {
  align-self: center;
  margin-right: 10px;
}

.top-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%);
}

.top-bar-content {
  display: flex;
  padding-top: 13px;
  justify-content: space-between;
  margin: 0 20px;
}

.top-bar {
  padding-bottom: 13px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.header-dropdown {
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 161px;
  height: 346px;
}

.country-selector {
  display: flex;
  padding: 20px 0 20px 20px;
}

.slider {
  height: 524px;
}

.slider-mover {
  margin-top: 67px;
}

.about {
  background-color: #F8F8F8;
}

.about-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5B5D6F;
  letter-spacing: 0.15em;
  line-height: 29px;
}

.about-content {
  margin: 0 20px;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 145%;
  padding-bottom: 35px;
}

.about-art {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.art-left, .art-right {
  width: 125px;
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 27.6%);
}

.art-right {
  transform: rotate(-180deg);
}

.art-center {
  margin: 0 19px;
}

.about-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.04em;
}
.about-text span {
  color: #DCAA72;
}

.about-query {
  padding-top: 30px;
  font-family: "Cormorant_Garamond", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
}
.about-wrapper div {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 20px;
}
.about-wrapper button {
  margin: 10px auto 30px auto;
  background: #DCAA72;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 20px;
}

.our-team-wrapper {
  background-color: #F8F8F8;
}

.our-team-header {
  padding: 30px 0;
  text-transform: uppercase;
  color: #5B5D6F;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
}/*# sourceMappingURL=style.css.map */