body 
    font-family: 'Futura PT', Helvetica, Arial, sans-serif
    font-size: 24px
    letter-spacing: 0.04em
    line-height: 145%
    margin: 0
.heading
    display: flex
    padding: 10px 20px
    justify-content: center
    position: relative
.numbers
    font-size: 14px
    position: absolute
    right: 20px
.menu-callback
    border: 2px solid #DCAA72
    border-radius: 8px
    display: flex
    padding: 7px 10px
    div
        font-size: 14px
        color: #DCAA72
        font-weight: 500
        font-family: 'Futura PT', Helvetica, Arial, sans-serif
    svg
        align-self: center
        margin-right: 10px
.top-line
    height: 1px
    width: 100%
    background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%)
.top-bar-content
    display: flex
    padding-top: 13px
    justify-content: space-between
    margin: 0 20px
.top-bar
    position: sticky
    top: 0
    left: 0
    z-index: 101
    width: 100%
    background-color: white
.fixed
    position: fixed
    top: 0
    left: 0
.header-dropdown
    background-color: #fff
    width: 161px
    height: 346px
.country-selector
    display: flex
    padding: 20px 0 20px 20px
    overflow-x: scroll
    -ms-overflow-style: none
    scrollbar-width: none
.country-selector::-webkit-scrollbar
    display: none
.country-flag
    margin-right: 10px
    opacity: 40%
    display: flex
    flex-shrink: 0
.country-flag:hover
    opacity: 100%
.dropdown-link
    padding: 0 0 20px 20px
    line-height: 31px
.dropdown-link:hover
        color: #DCAA72
.about
    background-color: #F8F8F8
.about-header
    font-family: 'Cormorant_Garamond', Helvetica, Arial, sans-serif
    font-weight: 700
    font-size: 24px
    text-transform: uppercase
    text-align: center
    padding-top: 30px
    padding-bottom: 30px
    color: #5B5D6F
    letter-spacing: 0.15em
    line-height: 29px
.about-content
    margin: 0 20px
    font-size: 18px
    letter-spacing: 0.04em
    line-height: 145%
    padding-bottom: 35px
.about-art
    display: flex
    align-items: center
    justify-content: center
    margin: 15px 0
.art-left, .art-right
    width: 125px
    height: 2px
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 27.6%)
.art-right
    transform: rotate(-180deg)
.art-center
    margin: 0 19px
.about-text
    color: rgba(0,0,0,0.8)
    font-size: 18px
    line-height: 145%
    letter-spacing: 0.04em
    span
        color: #DCAA72
.about-query
    padding-top: 30px
    font-family: 'Cormorant_Garamond', Helvetica, Arial, sans-serif
    font-style: italic
    font-weight: 700
    font-size: 19px
    text-align: center
    color: rgba(0,0,0,0.8)
.about-wrapper
    display: flex
    flex-direction: column
    div
        color: rgba(0,0,0,0.8)
        font-weight: 450
        font-size: 24px
        line-height: 31px
        text-align: center
        letter-spacing: 0.04em
        padding: 20px
    button
        margin: 10px auto 30px auto
        background: #DCAA72
        border-radius: 10px
        color: #fff
        text-align: center
        letter-spacing: 0.2em
        text-transform: uppercase
        font-weight: 450
        font-size: 14px
        line-height: 18px
        padding: 15px 20px
.our-team-wrapper
    background-color: #F8F8F8
.our-team-header
    padding: 30px 0
    text-transform: uppercase
    color: #5B5D6F
    font-family: 'Cormorant Garamond'
    font-weight: 700
    font-size: 24px
    line-height: 29px
    text-align: center
    letter-spacing: 0.15em
.nav-menu
    position: absolute
    width: 100vw
    height: 100vh
    display: block
    top: 100%
.menu-bar
    align-self: center
.callback-form-wrapper
    position: fixed
    z-index: 101
    background-color: rgba(0,0,0,0.8)
    width: 100vw
    height: 100vh
    top: 0
.callback-form
    position: absolute
    background-color: #81766D
    z-index: 103
    padding: 10px
    margin: 95px 35px
.close-bg
    z-index: 102
    height: 100vh
    width: 100vw
.callback-text
    padding: 0 15px 0 15px
    font-size: 18px
    color: #fff
    text-align: center
    margin: 10px 0 30px 0
label
    display: block
    margin-bottom: 10px
    font-weight: 450
    font-size: 14px
    line-height: 18px
    letter-spacing: 0.12em
    text-transform: uppercase
    color: rgba(255, 255, 255, 0.5)
.cbki-name
    width: 100%
    background: transparent
    border: 0
    outline: 0
    font-weight: 450
    caret-color: white
    font-size: 28px
    line-height: 36px
    padding-bottom: 10px
    color: white
    border-bottom: 2px solid rgba(255, 255, 255, 0.5)
.form-name:hover
    .cbki-name
        border-bottom: 2px solid white
    .cbk_label
        color: white
.cbk-button
    margin-top: 40px
    font-size: 14px
    display: block
    margin: 0 auto
    max-width: 300px
    width: 100%
    color: white
    font-weight: 450
    font-size: 18px
    line-height: 26px
    text-align: center
    letter-spacing: 0.2em
    text-transform: uppercase
    padding: 20px 40px
    height: 66px
    border-radius: 10px
    background-color: #DCAA72
    border: 0
    outline: 0
    max-width: 260px
.cbk-button:hover
    background-color: #F4AD5C
    box-shadow: 0 5px 20px rgb(244 173 92 / 50%)
#viewport
    width: 100vw
    height: 524px
    position: relative
    background-color: #000
.slider
    position: relative
    height: 524px
    width: 100vw
    margin: auto
    overflow: hidden
.slide
    width: 100%
    height: 524px
    position: absolute
    transition: 500ms
    overflow: hidden
    justify-content: center
    align-items: center
.slider-button
    position: absolute
    bottom: 177px
    left: 52px
    border: 2px solid #DCAA72
    border-radius: 10px
    width: 270px
    height: 59px
    color: white
    text-transform: uppercase
    font-weight: 450
    font-size: 18px
    line-height: 23px
    letter-spacing: 0.2em
.left-slider, .right-slider
    cursor: pointer
    position: absolute
    bottom: 107px
    transition: 0.6s ease
    user-select: none
.left-slider
    left: 132px
.right-slider
    right: 132px
.bg-black
    opacity: 50%
    position: absolute
    top: 0
    height: 100%
    width: 100%
    background-color: black
.trans
    transition-property: opacity
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 1500ms
.trans-image
    transition-property: scale
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 10000ms
.slider-nav
    background-color: rgba(0,0,0,0.7)
    width: 100vw
    position: absolute
    display: flex
    bottom: 0
    z-index: 130
    overflow-x: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    color: #fff
    font-weight: 450
    font-size: 14px
    line-height: 18px
    text-align: center
    letter-spacing: 0.12em
    text-transform: uppercase
    div
        padding: 17px 10px
        max-width: auto
.slider-nav::-webkit-scrollbar
    display: none
.active-slider-nav
    border-bottom: 4px solid #DCAA72
    position: relative
.active-slider-nav::after
    content: ""
    display: block
    width: 0
    height: 0
    border-style: solid
    border-width: 0 4px 4px
    border-color: transparent transparent #c7a677
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -4px