body {
  font-family: "Futura PT", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 145%;
  margin: 0;
  background-color: #F8F8F8;
  position: relative;
}

header {
  background-color: white;
}

.heading {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  position: relative;
}

.numbers {
  font-size: 14px;
  position: absolute;
  right: 20px;
}

.menu-callback {
  border: 2px solid #DCAA72;
  border-radius: 8px;
  display: flex;
  padding: 7px 10px;
}
.menu-callback div {
  font-size: 14px;
  color: #DCAA72;
  font-weight: 500;
  font-family: "Futura PT", Helvetica, Arial, sans-serif;
}
.menu-callback svg {
  align-self: center;
  margin-right: 10px;
}

.top-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%);
}

.top-bar-content {
  display: flex;
  padding-top: 13px;
  justify-content: space-between;
  margin: 0 20px;
}

.top-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 140;
  width: 100%;
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.header-dropdown {
  background-color: #fff;
  width: 161px;
  height: 346px;
}

.country-selector {
  display: flex;
  padding: 20px 0 20px 20px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.country-selector::-webkit-scrollbar {
  display: none;
}

.country-flag {
  margin-right: 10px;
  opacity: 40%;
  display: flex;
  flex-shrink: 0;
}

.country-flag:hover {
  opacity: 100%;
}

.dropdown-link {
  padding: 0 0 20px 20px;
  line-height: 31px;
}

.dropdown-link:hover {
  color: #DCAA72;
}

.about {
  background-color: #F8F8F8;
}

.about-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5B5D6F;
  letter-spacing: 0.15em;
  line-height: 29px;
}

.about-content {
  margin: 0 20px;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 145%;
  padding-bottom: 35px;
}

.about-art {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.art-left, .art-right {
  width: 125px;
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 27.6%);
}

.art-right {
  transform: rotate(-180deg);
}

.art-center {
  margin: 0 19px;
}

.about-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.04em;
}
.about-text span {
  color: #DCAA72;
}

.about-query {
  padding-top: 30px;
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.about-wrapper div {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 20px;
}

.about-button {
  margin: 10px auto 30px auto;
  background: #DCAA72;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 20px;
  -webkit-animation: radial-pulse-button 3s infinite;
          animation: radial-pulse-button 3s infinite;
}

@-webkit-keyframes radial-pulse-button {
  0% {
    box-shadow: none;
  }
  50% {
    background: #ffa53f;
    box-shadow: 0 5px 20px rgb(252, 152, 41);
  }
  100% {
    box-shadow: none;
    background: #DCAA72;
  }
}

@keyframes radial-pulse-button {
  0% {
    box-shadow: none;
  }
  50% {
    background: #ffa53f;
    box-shadow: 0 5px 20px rgb(252, 152, 41);
  }
  100% {
    box-shadow: none;
    background: #DCAA72;
  }
}
.our-team-wrapper {
  background-color: #F8F8F8;
}

.our-team-header {
  padding: 30px 0;
  text-transform: uppercase;
  color: #5B5D6F;
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
}

.nav-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 100%;
}

.menu-bar {
  align-self: center;
}

.callback-form-wrapper {
  position: fixed;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
}

.callback-form {
  position: absolute;
  background-color: #81766D;
  z-index: 103;
  padding: 10px;
  margin: 95px 35px;
}

.close-bg {
  z-index: 102;
  height: 100vh;
  width: 100vw;
}

.callback-text {
  padding: 0 15px 0 15px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 10px 0 30px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.cbki-name {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-weight: 450;
  caret-color: white;
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 10px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.form-name:hover .cbki-name {
  border-bottom: 2px solid white;
}
.form-name:hover .cbk_label {
  color: white;
}

.cbk-button {
  margin-top: 40px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  color: white;
  font-weight: 450;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 20px 40px;
  height: 66px;
  border-radius: 10px;
  background-color: #DCAA72;
  border: 0;
  outline: 0;
  max-width: 260px;
}

.cbk-button:hover {
  background-color: #F4AD5C;
  box-shadow: 0 5px 20px rgba(244, 173, 92, 0.5);
}

#viewport {
  width: 100vw;
  height: 524px;
  position: relative;
  background-color: #000;
}

.slider {
  position: relative;
  height: 524px;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: flex;
  width: 100%;
  height: 524px;
  position: absolute;
  transition: 500ms;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slider-button {
  position: absolute;
  bottom: 177px;
  border: 2px solid #DCAA72;
  border-radius: 10px;
  width: 270px;
  height: 59px;
  color: white;
  text-transform: uppercase;
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2em;
  -webkit-animation: slider-button-animation 3s infinite;
          animation: slider-button-animation 3s infinite;
}

@-webkit-keyframes slider-button-animation {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 5px 20px rgb(252, 152, 41);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes slider-button-animation {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 5px 20px rgb(252, 152, 41);
  }
  100% {
    box-shadow: none;
  }
}
.slider-button:hover {
  background-color: #DCAA72;
}

.left-slider, .right-slider {
  cursor: pointer;
  position: absolute;
  bottom: 107px;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left-slider {
  left: 132px;
}

.right-slider {
  right: 132px;
}

.bg-black {
  opacity: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.trans {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1500ms;
}

.trans-image {
  transition-property: scale;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 10000ms;
}

.slider-nav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  position: absolute;
  display: flex;
  bottom: 0;
  z-index: 130;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #fff;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  height: 70px;
}
.slider-nav div {
  padding: 17px 10px;
  max-width: auto;
}

.slider-nav::-webkit-scrollbar {
  display: none;
}

.active-slider-nav {
  border-bottom: 4px solid #DCAA72;
  position: relative;
}

.active-slider-nav::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 4px;
  border-color: transparent transparent #c7a677;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

.slide-text {
  position: absolute;
  bottom: 276px;
  text-align: center;
  font-family: "Cormorant_Garamond", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #DCAA72;
}

.our-team {
  padding: 7px 20px 12px 20px;
}

.team-members {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.team-members::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 4px;
  width: 335px;
}

.team-members::-webkit-scrollbar-thumb {
  background: #DCAA72;
}

.member-box {
  width: 223px;
  height: 323px;
  background-color: white;
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}
.member-box div {
  display: flex;
  flex-direction: column;
}

.member-box:last-of-type {
  margin-right: 0;
}

.member-photo {
  width: 223px;
}

.member-name {
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
  padding: 15px 0 10px 15px;
}

.member-spec {
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #707070;
  margin: 0 15px 10px 15px;
}

.history-wrapper {
  margin: 10px 20px 30px 20px;
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.history-wrapper::-webkit-scrollbar {
  display: none;
}

.history-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #5B5D6F;
  margin-top: 30px;
}

.year-art {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-number {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 145%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #DCAA72;
  margin: 10px 20px;
}

.history-text {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.history1, .history2, .history3 {
  margin-right: 30px;
}

.history2 {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.history3, .history4 {
  min-width: 335px;
}

.history-quote {
  margin-top: 30px;
}

.history-quote-text {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 90%;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.history-quote-art {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.history-scrollbar {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.history-scroll {
  width: 50px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}

.item {
  padding: 60px 20px 0 20px;
  position: relative;
}

.items-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #5B5D6F;
  margin: 18px 0 30px 0;
}

.item-header {
  margin: 25px 0 15px 0;
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.item-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.item-li {
  font-weight: 450;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.item-art {
  width: 30px;
  height: 1px;
  background-color: #DCAA72;
  margin-right: 10px;
  margin-top: 9px;
}

.item-chapter {
  display: flex;
  margin-top: 15px;
}

.item-chapters {
  margin-top: 15px;
}

.product-pic {
  width: calc(100vw - 40px);
  height: 190px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.product-pic img {
  align-self: center;
}

.items-wrapper {
  margin-bottom: 30px;
}

.portfolio-wrapper {
  background-image: url("./../media/PortfolioBG.png");
  background-size: 100% 100%;
}

.portfolio-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px;
  padding-top: 30px;
}

.portfolio-content {
  padding: 20px 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.portfolio-left, .portfolio-right {
  margin: 0 20px;
  align-self: center;
}

.portfolio-left:active svg path, .portfolio-right:active svg path {
  stroke-opacity: 1;
}

.portfolio-nav-bar {
  height: 4px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

.portfolio-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.portfolio-button-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.portfolio-button-wrapper button {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.portfolio-item {
  display: none;
}

.active-port {
  background-color: #F8F8F8;
}

.item-full-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

.item-wrapper {
  bottom: 0;
  padding: 40px 0;
  margin: 10px;
  background-color: white;
  overflow-y: scroll;
  width: calc(100vw - 20px);
  overflow-x: hidden;
}

.item-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-content div {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 40px);
}
.item-content div img {
  flex-shrink: 1;
  margin-right: 10px;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
}

.price-wrapper {
  padding: 30px 20px;
}

.price-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #5B5D6F;
}

.time-count {
  position: relative;
  margin: 30px 0 26px 0;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
}

.time-count-text {
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.time-count-art {
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.about-price {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.price {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #DCAA72;
  margin-top: 10px;
}

.price-line {
  width: 335px;
  height: 2px;
  background-color: #BFBFBF;
  margin: 20px 0;
}

.dop-sells {
  margin-top: 40px;
  margin-bottom: 30px;
}

.dop-sell {
  display: flex;
  margin: 30px 0;
}

.dop-sells-header {
  font-family: "Cormorant_Garamond", Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #5B5D6F;
  margin-bottom: 20px;
}

.dop-sell-text {
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 25px;
}

.dop-sell-art {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
}

.description {
  display: flex;
}

.ds-art {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 20px;
}

.ds-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.consultation {
  background-color: #81766D;
  padding: 20px;
}

.cn-header {
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  padding-bottom: 10px;
}

.cn-ul ul {
  padding-bottom: 30px;
}
.cn-ul ul li {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.04em;
  padding-top: 20px;
  color: white;
  display: flex;
}
.cn-ul ul li svg {
  margin-right: 10px;
  margin-top: 7px;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */