body 
    font-family: 'Futura PT', Helvetica, Arial, sans-serif
    font-size: 24px
    letter-spacing: 0.04em
    line-height: 145%
    margin: 0
.heading
    display: flex
    padding: 10px 20px
    justify-content: center
    position: relative
.numbers
    font-size: 14px
    position: absolute
    right: 20px
.menu-callback
    border: 2px solid #DCAA72
    border-radius: 8px
    display: flex
    padding: 7px 10px
    div
        font-size: 14px
        color: #DCAA72
        font-weight: 500
        font-family: 'Futura PT', Helvetica, Arial, sans-serif
    svg
        align-self: center
        margin-right: 10px
.top-line
    height: 1px
    width: 100%
    background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%)
.top-bar-content
    display: flex
    padding-top: 13px
    justify-content: space-between
    margin: 0 20px
.top-bar
    padding-bottom: 13px
    position: sticky
    top: 0
    left: 0
    z-index: 101
    width: 100%
.slider
    height: 524px
.about
    background-color: #F8F8F8
.about-header
    font-family: 'Cormorant_Garamond', Helvetica, Arial, sans-serif
    font-weight: 700
    font-size: 24px
    text-transform: uppercase
    text-align: center
    padding-top: 30px
    padding-bottom: 30px
    color: #5B5D6F
    letter-spacing: 0.15em
    line-height: 29px
.about-content
    margin: 0 20px
    font-size: 18px
    letter-spacing: 0.04em
    line-height: 145%
.about-art
    display: flex