@font-face {
    font-family: 'Futura PT';
    src: url();
}
body 
    font-family: 'Futura PT'
    font-size: 24px
    letter-spacing: 0.04em
    line-height: 145%
.heading
    display: flex
    padding: 10px 20px
    justify-content: center
    position: relative
.numbers
    font-size: 14px
    position: absolute
    right: 20px
.menu-callback
    border: 2px solid #DCAA72
    border-radius: 8px
    display: flex
    margin-top: 3px
    div
        font-size: 14px
        color: #DCAA72
        font-weight: bold
    svg
        align-self: center
.top-line
    height: 1px
    width: 100%
    background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%)
.top-bar-content
    display: flex
    padding-top: 13px
    justify-content: space-between